/********************************
  - Name: Wei Fei
  - USC-id: 5795664300
  - Project: CSCI571 Homework 3
  - File: weifeiCSCI571hw3.html
  - Create Date: 01/11/18
  - Last Modified: 01/22/18
*********************************/

body, html {
  width: 1190px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 113px;
  padding-top: 12px;
  padding-bottom: 30px;
  border-top: 0.6px solid #e6e9ed;
}

li {
  float: left;
}

li a {
  color: #686868;
  text-decoration: none;
  padding: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 52px;
  font-family: helvetica, sans-serif;
  color: rgb(189, 155, 92);
  font-weight: 400;
  text-indent: 0;
  margin-top: 0em;
  margin-bottom: 1em;
  padding-top: 0px;
}

h2 {
  font-family: libre baskerville;
  font-size: 34px;
  color: rgb(189, 155, 92);
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 2px;
  color: #686868;
}

h4 {
  margin-top:1em;
  margin-bottom: 1em;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #686868;
}

h5 {
  margin-top:0em;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

h6 {
  margin-top:1em;
  margin-bottom: 0em;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #686868;
}

h7 {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  line-height: 10px;
}

h8 {
  font-family: libre baskerville;
  font-weight: 500;
  font-size: 32px;
  color: #686868;
}

hr {
  border-width: 0.6px;
  color: #686868;
}

.left_bar {
  float: left;
  width: 595px;
}

.parallax1 {
  background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/image6.jpg");
  background-attachment: fixed;
  background-position: -371px 44px;
  background-repeat: no-repeat;
  background-size: 1925px;
  width: 1190px;
  height: 650px;
}

.image3 {
  background-repeat: no-repeat;
  padding-left: 133px;
  padding-top: 127px;
}

.image2 {
  background-repeat: no-repeat;
  padding-left: 133px;
  padding-top: 39px;
}

.paragraph2 {
  padding-left: 133px;
  padding-top: 68px;
  width: 445px;
  height: 200px;
}

.right_bar {
  float: right;
  width: 595px;
}

.paragraph1 {
  padding-left: 26px;
  padding-top: 36px;
  width: 445px;
  height: 200px;
}

.image1 {
  background-repeat: no-repeat;
  padding-left: 26px;
  padding-top: 147px;
}

.image4 {
  background-repeat: no-repeat;
  padding-left: 26px;
  padding-top: 33px;
}

.image7 {
  padding-left: 138px;
  padding-top: 55px;
}

.order_box {
  background-color: white;
  position: absolute;
  top: 2341px;
  left: 403px;
  width: 395px;
  height: 107px;
  padding-top: 33px;
}

.order_link {
  text-decoration: none;
  color: #686868;
}

.order_link:hover {
  color: rgb(185, 187, 193);
}

.read_link {
  text-decoration: none;
  color: black;
}

.read_link:hover {
  color: rgb(185, 187, 193);
}

.middle_part {
  padding-top: 1200px;
}

.paragraph3 {
  padding-top: 42px
}

.bottom_part {
  padding-top: 82px;
}

.parallax2 {
  background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/image5.jpg");
  background-attachment: fixed;
  background-position: 0px -138px;
  background-repeat: no-repeat;
  background-size: 1190px;
  width: 1190px;
  height: 479px;
}

.background_color {
  width: 1190px;
  height: 216px;
  background-color: rgb(189, 155, 92);
}

.copy_right {
  float: middle;
  padding-top: 44px;
  padding-left: 768px;
  weight: 200px;
  margin: 0px;
}

.page2 {
  list-style-type: none;
  margin: 0;
  padding-left: 113px;
  padding-top: 12px;
  padding-bottom: 30px;
  border-top: 0.6px solid #e6e9ed;
}
